@charset "UTF=8";

@font-face {
    font-family: 'Passion-one' ;
    src: url(Passion_One/PassionOne-Regular.ttf);
}

@font-face {
    font-family: 'Sriracha' ;
    src: url(Sriracha/Sriracha-Regular.ttf);
}
body {
    background-color: white;
    

}

header {
    background-color: black;
    margin: -15px;
    
    
}

header > h1 {
    color: white;
    padding-top: 50px;
    padding-bottom: 0px;
    text-align: center;
    margin: auto;
    font-family: 'Passion-one';
    font-weight: lighter;
    font-size: 80px;
}
nav {
    color: white;
    padding-top: 5px;
    padding-bottom: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}
    .formatação{
    padding: 20px 0px 20px 0px;
    font-family: 'Sriracha';
    font-size: 25px;
}

#imagem{
    color: white;
    padding: 20px 0px 20px 0px;
    font-family: 'Sriracha';
    font-size: 25px;
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    
    
}
#parte3{
    padding: 20px 0px 20px 20px;
    font-family: 'Sriracha';
    font-size: 25px;
}
#parte4{
    padding: 20px 0px 20px 20px;
    font-family: 'Sriracha';
    font-size: 25px;
}
 #parte5{    
    padding: 20px 0px 20px 20px;
    font-family: 'Sriracha';
    background-image: url(imagens/background002.jpg);
    background-position: left center;   
}
#parte6{
    padding: 20px 0px 20px 20px;
    font-family: 'Sriracha';
    font-size: 25px;
}
#parte7{
    padding: 20px 0px 20px 20px;
    font-family: 'Sriracha';
    font-size: 25px;
}
footer {
    text-align: center;
    font: bold;
    border-color: black;
    text-decoration: none;
}



